:root{
    --white-text: rgba(255,255,255,0.85);
    --grey-text: rgba(255,255,255,0.5);
    --bold-red: #fa233b;
    --light-red: #ff5a6d;
    --nav-bg: rgba(235, 235, 245, 0.03);
    --main-bg: rgb(31,31,31);
    --button-grey: rgb(42, 42, 42);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    color: var(--white-text);
    font-weight: lighter;
    text-decoration: none;
    &::selection{
        background: transparent;
    }
}

.App{
    display: flex;
    height: 100%;
    width: 100%;
}
html{
    background: var(--main-bg);
}
main{
    height: 100%;
    width: 100%;
}

.mobile {
    display: flex;
    flex-direction: column;
}