.mobile-nav {
    height: 8vh;
    width: 100vw;
    background: var(--nav-bg);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2% 4%;
}


.mobile-nav-logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.mobile-nav-icon{
    height: 30px;
    width: 30px;
}

.mobile-nav-button {
    background-color: var(--bold-red);
    padding: 2%;
    outline: none;
    border: none;
    border-radius: 1em;
    font-weight: 600;
    cursor: pointer;
}