.mobile-nav {
    height: 8vh;
    width: 100vw;
    background: var(--nav-bg);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2% 4%;
}


.mobile-nav-logo {
    display: flex;
    align-items: center;
    gap: 5px;
    .logo{
        font-size: 30px;
    }
}

.mobile-nav-icon{
    height: 30px;
    width: 30px;
}

.mobile-nav-options{
    display: flex;
    gap: 15px;
}

.mobile-nav-button {
    background-color: var(--bold-red);
    padding: .4em;
    outline: none;
    border: none;
    border-radius: 1em;
    font-weight: 600;
    cursor: pointer;
    transition: .1s ease-in;
}

.mobile-nav-button:hover {
    transform: translateY(-2px);
}