.Show{
    width: 1000px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 50px auto;
    background: var(--main-bg);
    h1{
        font-size: 30px;
    }
    .show-details{
        display: flex;
        gap: 30px;
        img {
            height: 425px;
            aspect-ratio: 1;
            object-fit: cover;
            border-radius: 10px;
            box-shadow: rgba(0,0,0,0.3) 0 10px 20px 0;
        }
        .more-details{
            width: 100%;
            display: flex;
            gap: 20px;
            flex-direction: column;
            .info{
                display: flex;
                justify-content: space-between;
                align-items: center;
                span{
                    display: flex;
                    flex-direction: column;
                    gap: 5px;
                    h2{
                        font-size: 22px;
                    }
                    h3{
                        font-size: 16px;
                    }
                    h4{
                        font-size: 16px;
                    }
                }
                .circles{
                    display: flex;
                    gap: 20px;
                    .circle{
                        cursor: default;
                        width: 35px;
                        height: 35px;
                        border-radius: 50%;
                        background: rgba(255,255,255,0.1);
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        i{
                            color: var(--bold-red);
                            position: relative;
                            top: 1px;
                        }
                        span{
                            color: var(--bold-red);
                            font-weight: bold;
                            font-size: 18px;
                            position: relative;
                            top: -4px;
                            left: 1px;
                            letter-spacing: 1px;
                        }
                    }
                    .edit-song-button{
                        cursor: pointer;
                    }
                    .bad-song{
                        box-shadow: inset 0 0 0 2px var(--bold-red);
                        overflow: hidden;
                        .slash{
                            color: var(--bold-red);
                            transform: rotate(45deg) scale(2) translateY(-0.5px);
                        }
                    }
                }
            }
        }
    }
}
hr{
    border-color: rgba(255,255,255,0.2);
    border-width: 1px;
}
iframe{
    border: none;
    aspect-ratio: 16/9;
    width: 100%;
    border-radius: 10px;
    margin: auto auto 5px;
}